# Ignore config files containing local paths
config/config_morphometrics.yaml 
config/config_rootlets.yaml 

# Ignore SCT output folders (log files, etc.)
output/

# Allow config templates
!config/config_morphometrics_template.yaml
!config/config_rootlets_template.yaml

# Ignore results folder
results/
