# Ignore config files containing local paths
config/config_preprocessing.yaml 
config/config_morphometrics.yaml 
config/config_rootlets.yaml 
config/config_preprocessing_T1w.yaml 

# Ignore SCT output folders (log files, etc.)
output/

# Allow config templates
!config/config_preprocessing_template.yaml
!config/config_morphometrics_template.yaml
!config/config_rootlets_template.yaml
!config/config_preprocessing_T1w_template.yaml

# Ignore results folder
results/tables/

# Ignore other miscellaneous/WIP scripts
scripts/others/

